@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
    </h1> 
    <p>
        This is a simple CRUD application that allows you to manage movies, actors, and the relationship between them.
    </a>.</p>
</div>

<!-- Change to font color of the header and the paragraph to white -->
<style>
    h1, p {
        color: white;
    }
</style>